p {
    font-family: Inter, serif;
    font-size: 1.2rem;
    text-align: center;

}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    display: flex;
    width: 80vw;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cart-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cart-item .ticket-info {
    display: flex;
    width: 80%;
    flex-direction: row;
    text-align: start;
    font-size: 1.2rem;
    gap: 20vw;
}

.cart-item .ticket-info .firstRow {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.cart-item .ticket-info .firstRow p {
    margin: 0;
    text-align: start;
}

.cart-item button {
    width: 30vw;
    font-size: 1.2rem;
}

.purchaseButton {
    font-size: 1.2rem;
}